/* 全体の背景とフォント設定 */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f4f4f4;
/*  margin: 0;*/
/*  padding: 0;*/
}

/* ヘッダー */
header {
  background-color: #0078D4;
  color: white;
  padding: 20px;
  text-align: center;
}

/* メインフォームの中央配置とスタイル */
main.login  {
  max-width: 400px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

main.todo {
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* 入力欄のスタイル */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* ボタンのスタイル */
button {
  width: 100%;
  padding: 12px;
  background-color: #0078D4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005a9e;
}

table.todo { 
	width: 100%; 
	border-collapse: collapse; 
	background-color: #fff; 
	margin-bottom: 40px; 
}

th.todo, td.todo { 
	padding: 12px;
	border: 1px solid #ccc;
	text-align: left;
	vertical-align: top;
}

th.todo {
	background-color: #0078D4;
	color: white;
}

tr.todo:nth-child(even) { 
	background-color: #f9f9f9; 
}

/* リンクのスタイル */
a {
  display: inline-block;
  margin-top: 20px;
  color: #0078D4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
