<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>TODO管理システム</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<header>
		<h1>ユーザ登録</h1>
	</header>
	<main>
		<table>
			<form action="/register" method="post" th:object="${registerForm}">
				<tr>
					<th>ユーザID</th>
						<td>
							<input type="text" th:field="*{userId}" placeholder="メールアドレスで登録してください"><span th:errors="*{userId}"></span>
						</td>
				</tr>
				<tr>
					<th>ユーザ名</th>
					<td>
						<input type="text" th:field="*{userName}" placeholder="ユーザ名"><span th:errors="*{userName}"></span>
					</td>
				</tr>
				<tr>
					<th>チーム名</th>
					<td>
						<select id="teamId" name="teamId">
							<option th:each="item : ${teamMenu}"
								th:value="${item.key}"
								th:text="${item.value}"
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>パスワード</th>
					<td>
						<input type="password" th:field="*{password}" placeholder="パスワード"><span th:errors="*{password}"></span>
					</td>
				
				<tr>
					<th>パスワード（確認）</th>
					<td>
						<input type="password" th:field="*{checkPassword}" placeholder="パスワード（確認）"><span th:errors="*{checkPassword}"></span>
					</td>
				</tr>
				<td><button>登録</button>
				<br> <span th:text="${message}" style="color: red"></span></p>
			</form>
			</tr>
		</table>
	</main>
</body>
</html>